<!DOCTYPE html>

<html>
<head>
   <title>HB</title>
   <% include comp/csslinks.ejs %>
   <style>
     .collBack{
       background: url("/img/collectionBack_pics/<%=collId%>"),url("/img/collectionBack_pics/default.jpg");
       background-size:     cover;                      /* <------ */
       background-repeat:   no-repeat;
       background-position: center center;
     }
   </style>
</head>
<body>
  <% include comp/nav.ejs %>
  <% include comp/collectionHead.ejs %>
  <div class='col-md-10 col-md-offset-1' style='padding-top:20px'>
    <div class='row collData'>
      <h5 class='lead'>
        Description:
      </h5>
      <%
      var toEdit = '';

      if(collData.user_id == session.loginUserId){
        toEdit = 'toEdit';
      }%>
        <p class='pre'><span class='<%=toEdit%> textBox' data-type='textarea' data-col='collDesc'><%=collData.collDesc%></span></p>
    </div>

    <% if(collData.user_id == session.loginUserId){%>
      <% include comp/newItemForm.ejs %>
    <%}%>
    <% include comp/itemsView.ejs %>
  </div>
  <% if(itemData.user_id !== session.loginUserId){%>
    <% include comp/tradeForm.ejs%>
  <%}%>
</body>
</html>

  <% include comp/jslinks.ejs %>

<% if(collData.user_id == session.loginUserId){%>
  <script type='text/javascript' src='/js/upload.js'></script>
  <% include comp/upload.ejs%>
<%}%>
<script>
  <%if(collData.user_id == session.loginUserId){%>
     <% include comp/submitItem.ejs%>
  <%}%>
</script>
