<!DOCTYPE html>

<html>
<head>
   <title>HB</title>
   <% include comp/csslinks.ejs %>
</head>
<body>
  <% include comp/nav.ejs %>
  <% include comp/collectionHead.ejs %>
</body>
</html>
  <% include comp/jslinks.ejs %>
