<!DOCTYPE html>

<html>
<head>
   <title>HB</title>
   <% include comp/csslinks.ejs %>
</head>
<body>
  <% include comp/nav.ejs %>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <div class='row'>
          <div class='col-md-6 col-md-offset-3'>
            <% include comp/mainSearch.ejs%>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class='row' id='mainSearchResults'>
              <% include comp/searchResults.ejs%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
  <% include comp/jslinks.ejs %>
