<!DOCTYPE html>

<html>
<head>
   <title>HB</title>
   <% include comp/csslinks.ejs %>
   <style>
    .profileBack{
      background: url("/img/background_pics/<%=user.id%>"),url("/img/background_pics/default.jpeg");
      background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: top;
    }
   </style>
</head>
<body>
  <% include comp/nav.ejs %>
  <div class='container-fluid'>
    <div class='row'>
      <% include comp/profileHead.ejs %>
      <div class='col-md-10 col-md-offset-1 mainCont'>
        <div class='row'>
          <%switch(tab){
            case 0:break;
            case 1:%>
            <%if(user.name == session.loginUser){%>
              <% include comp/newCollForm.ejs %>
            <%}%>
              <% include comp/collectionsView.ejs %>
            <%break;
            case 2:%>
            <% include comp/tradeHistory.ejs %>
            <%break;
          }%>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<% include comp/jslinks.ejs %>
<%if(user.name == session.loginUser){%>
  <script type='text/javascript' src='/js/upload.js'></script>
  <% include comp/upload.ejs %>
<%}%>
<script>
  $("li[role='presentation']").eq('<%=tab%>').addClass('active');
  <%if(user.name == session.loginUser){%>
      <%switch(tab){
        case 1:%>
          <% include comp/submitNewColl.ejs%>
        <%break;
      }%>
  <%}%>
</script>
