<!DOCTYPE html>

<html>
<head>
   <title>HB</title>
   <% include comp/csslinks.ejs %>
</head>
<body>
  <% include comp/nav.ejs %>
  <% var showItem = true%>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <div class='row'>
          <div class='col-md-12 tableHead'>
            <h4 class='lead'>Trade Offers:</h4>
          </div>
          <table class='table'>
            <thead>
              <th class='largeCell'>Item</th>
              <th class='smallCell'>User</th>
              <th class='medCell'>Options</th>
            </thead>
            <tbody>
          <% include comp/tradeOffers.ejs%>
            </tbody>
          </table>
          <div class='col-md-12 tableHead'>
            <h4 class='lead'>Your Offers</h4>
          </div>
          <table class='table'>
            <thead>
              <th class='largeCell'>Item</th>
              <th class='smallCell'>User</th>
              <th class='medCell'>Options</th>
            </thead>
            <tbody>
              <%tradeOffers = userOffers;%>
              <% include comp/tradeOffers.ejs%>
            </tbody>
          </table>
          <div class='col-md-12 tableHead'>
            <h4 class='lead'>Currently Trading</h4>
          </div>
          <table class='table'>
            <thead>
              <th class='largeCell'>Item</th>
              <th class='smallCell'>User</th>
              <th class='medCell'>Options</th>
            </thead>
            <tbody>
              <%tradeOffers = trading;%>
              <% include comp/tradeOffers.ejs%>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="viewOffer" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">View Offer</h4>
        </div>
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>
</body>
</html>

  <% include comp/jslinks.ejs %>
