/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 01 21, 17, 12:25:24 PM
    Author     : rizaller
*/

@font-face{
    font-family: righteous;
    src: url("../fonts/Junction-regular.otf");
}
body{
    font-family: righteous !important;
    font-weight: bolder;
}
.pre{
  white-space:pre;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: none;
    position: absolute;
    top:5%;
    z-index: 100;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
a{
  color:#292423;
}
a:hover{
  color:#120907;
}
p{
  color: #847577 !important;
}
.newCollForm{
  margin-bottom: 20px;
}
.has-error .form-control{
  border-width: medium !important;
}
.has-success .form-control{
border-width: medium !important;
}
.separator{
  border-left: 2px solid #66290b;
  border-right: 2px solid #66290b;
}
.profileBack{
  height:400px;
}

input,textarea{
    border-radius: 20px !important;
    opacity: 0.6 !important;
}
.editBtn{
  display: none;
}
.mainCont{
  padding-top: 25px;
}
.profileHead{
  position: relative;
  height: inherit;
  border-bottom: 2px solid #a6a2a2;
  color: #cfd2cd;
}
.nav-tabs > li.active > a{
  color: #a6a2a2;
}
.profilePicCont{
  position: relative;
}
.previewBack{
  height:250px;
}
.preview{
  height: 250px;
}
#editProfilePic{
  position: absolute;
  top: 50px;
  left: 38%;
}
#newProfPic{
  visibility: hidden;
}
.profileCont{
  position:absolute;
  height: 200px;
  bottom: 0px;
}

.profileNav{
  height: 100%;
  position: relative;
}
.profileNav .btn{
  opacity: 0.6;
}
.profileNavTabs{
  position: absolute;
  bottom: -1px;
}
img{
  height: inherit;
}
.nav-tabs{
  border: none;
}
.profilePic{
  height:150px;
  padding: 0;
  border-radius: 25px;
  border: 4px solid #e8e9eb;
}
.collCont{
  margin-top: 20px;
  height: 200px;
  border: 5px solid #847577;
  box-shadow: 3px 3px 2px #222;
  overflow: hidden;
}
.collCont div{
  height: inherit;
}
.collPic{
  padding: 0px;
  height: auto;
}
.collPic img{
  height: inherit;
}
.collCont h4,p{
  margin-top: 20px;
}
.collBack{
  padding-top: 50px;
  padding-bottom: 25px;
  text-shadow: 2px 2px 3px #222;
  color:#fbfbf2;
}
.collHeadPic{
  height: 150px;
  border: 5px solid #847577;
  box-shadow: 7px 7px 5px #222;
  padding: 0px;
  margin-bottom: 25px;
  position: relative;
}
.collHeadPic img{
  height: inherit;
}
.collData{
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #847577;
}
.newCollDesc{
  border-radius: 0px !important;
  color: #847577;
}

.itemHeadPic{
  padding: 0px;
  height: 375px;
}
.itemHeadPic img{
  height: inherit;
}
.modal-body .itemHeadPic{
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
}
.collDesc{
  color: #847577;
}
img{
   width: 100% !important;
}
.navbar-default .navbar-nav > li > a{
     color: rgba(229, 230, 228, 1) !important;
}
.navbar-default{
   background: #847577;
   margin-bottom: 0px !important;
   border: none;
   border-radius: 0px !important;
}
.ownerPic{
  height: 100px;
  overflow: hidden;
  padding: 0px;
  border: 5px solid #847577;
  box-shadow: 7px 7px 5px #222;
}
.itemPic{
  padding: 0px;
}
.itemPic img{
  height: 200px;
}
.modal .form-inline input{
  width:130px;
}
.modal .form-inline select{
  width:130px;
}
.ownerPic img{
  height: inherit;
}
.modal{
  color: #847577;
}
.modal-content{
  background-color: #cfd2cd;
  height: 525px;
  overflow: scroll;
}
.modal-content .form-group{
  margin-top: 25px;
}
#newItemPreview{
  height:250px;
  padding-left: 50px;
  padding-right: 50px;
}
.hasEdit{
  position: relative;
  overflow: hidden;
}
.editBackPic{
  background-color: transparent !important;
}
.editBackPic .btn{
  top:5% !important;
  left: 5% !important;
  z-index: 99;
}
.editPic{
  height: 100%;
  width: 100%;
  background-color: hsla(352, 6%, 49%, 0.75);
  position:absolute;
  display: none;
  top:0;
  left: 0;
}
#userItemSearch{
  margin-top: 15px;
  border-radius: 0px !important;
}
.searchDrop{
  display: none;
  top:44px;
  background-color: #fbfbf2;
  height: 175px;
  width: 100%;
  overflow: scroll;
}
.searchItem{
  height:85px;
  border-bottom: 1px solid #847577;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
}
.searchItem div{
  padding: 0px;
}
#tradeForm .modal-dialog{
  width: 900px;
}
.searchItem:hover{
  background-color: #cfd2cd;
}
.searchPic{
  height: 65px;
}
.editPic .btn{
  background-color: hsla(352, 6%, 49%, 0.75);
  border-color: white;
  position:relative;
  top:45%;
}
.editPic .btn:active{
  border-color: inherit;
}
.error{
    font-size:17px;
    color:#cc0000;
    margin-top:0px !important;
    margin-bottom:15px;
    height:10px !important;
    opacity: 0;
}
