/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 01 21, 17, 12:25:24 PM
    Author     : rizaller
*/
input,textarea{
    border-radius: 20px !important;
    opacity: 0.6;
}
@font-face{
    font-family: righteous;
    src: url("../fonts/Righteous-Regular.ttf");
}
body{
    background: rgba(251, 251, 242, 1);
    color: rgba(132, 117, 119, 1);
    font-family: righteous !important;
}
.newCollForm{
  display: none;
  margin-bottom: 20px;
}
.has-error .form-control{
  border-width: medium !important;
}
.has-success .form-control{
border-width: medium !important;
}
.separator{
  border-left: 2px solid rgba(132, 117, 119, 1);
  border-right: 2px solid rgba(132, 117, 119, 1);
}
.profileBack{
  background-size: 100% 100% !important;
  height:400px;
}
.editBtn{
  display: none;
}
.mainCont{
  padding-top: 25px;
}
.profileHead{
  position: relative;
  height: inherit;
  color: rgba(251, 251, 242, 1);
}
.nav-tabs > li.active > a{
  color: rgba(132, 117, 119, 1);
}
.profilePicCont{
  position: relative;
}
#editProfilePic{
  position: absolute;
  top: 50px;
  left: 38%;
}
#newProfPic{
  visibility: hidden;
}
.profileCont{
  position:absolute;
  height: 200px;
  bottom: 0px;
}

.profileNav{
  height: 100%;
  position: relative;;
}
.profileNav .btn{
  opacity: 0.6;
}
.profileNavTabs{
  position: absolute;
  bottom: 0;
}
.nav-tabs{
  border: none;
}
.profilePic{
  height:150px;
  padding: 0;
  border-radius: 25px;
  border: 4px solid white;
}
.collCont{
  margin-top: 20px;
}
.collPic{
  height: 150px;
}
.collCont h4,p{
  margin-top: 20px;
}
img{
   width: 100% !important;
}
.navbar-default .navbar-nav > li > a{
     color: rgba(229, 230, 228, 1) !important;
}
.navbar-default{
   background-color: rgba(132, 117, 119, 1);
   margin-bottom: 0px !important;
   border: none;
   border-radius: 0px !important;
}

.error{
    font-size:17px;
    color:#cc0000;
    margin-top:0px !important;
    margin-bottom:15px;
    height:10px !important;
    opacity: 0;
}
