
<div class='fav-button'>
  <button class='fav-<%=type%> btn btn-warning' data-id="<%=id%>" data-action='<%=action%>'>
    <span class='glyphicon glyphicon-star<%=(action != 'add')?'':'-empty'%>'></span>
  </button>
</div>
