<div class='row'>
  <div class='col-md-12 text-center' id='searchContainer'>
    <h2>Hobby Base</h2>
    <div class='form-group'>
      <input type='text' placeholder="Search" id='mainSearchBar' class='input-lg form-control'>
    </div>
      <p>search items,collections,users</p>
  </div>
</div>
