<div class='col-md-12'>
  <div class='row  newCollForm'>
    <div class='col-md-6'>
      <div class="form-group">
        <label for="newCollName">Collection Name</label>
        <input type="text" class="form-control" id="newCollName">
        <h4 class='error'></h4>
      </div>
      <div class="form-group">
        <label for="newCollDesc">Collection Description (optional)</label>
        <textarea class="form-control" id="newCollDesc"></textarea>
      </div>
      <button class='btn btn-primary' id='editNewCollPic'>Upload Collection Pic</button>
      <input type='file' id='newCollPic' style='visibility:hidden'>
      <button class='btn btn-success' id='submitNewColl'>Make New Collection</button>
    </div>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <img class='preview' src='/img/collection_pics/default.png'>
        </div>
      </div>
    </div>
  </div>
  <button class='btn btn-primary startColl'>Start New Collection</div>
</div>
