<button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#addItemForm">Add New Item</button>
<div class="modal fade" id="addItemForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Add New Item</h4>
      </div>
      <div class="modal-body text-center">
        <img src='/img/item_pics/default' id='newItemPreview'>
        <input type='file' id='newItemPic' style='visibility:hidden'>
        <button class='btn btn-primary' style='margin-bottom:25px' id='editNewItemPic'>Choose Item Picture</button>
        <div class="form-group">
          <label for="newItemName" class="control-label">Item Name:</label>
          <input type="text" class="form-control" id="newItemName">
        </div>
        <div class="form-group">
          <label for="newItemType" class="control-label">Item Type:</label>
          <input type='text' class="form-control" id="newItemType"></input>
        </div>
        <div class="form-group">
          <label for="newItemDesc" class="control-label">Item Description:</label>
          <textarea class="form-control" id="newItemDesc"></textarea>
        </div>
        <div class='form-inline'>
          <label for="newItemCond" class="control-label">Item Condition:</label>
          <select class="form-inline" id="newItemCond">
            <option selected disabled value='-1'>Choose</option>
            <option value='Good'>Good</option>
            <option value='Mint'>Mint</option>
            <option value='Acceptable'>Acceptable</option>
            <option value='Worn'>Worn</option>
          </select>
          <label for="newItemQuant" class="control-label">Quantity:</label>
          <input type="number" class="form-inline" id="newItemQuant" min='1'>
        </div>
        <div class="form-inline">
          <label for="newTradeOpt" class="control-label">Trading:</label>
          <select class="form-inline" id="newTradeOpt">
            <option selected disabled value='-1'>Choose</option>
            <option value='Trading'>Trading</option>
            <option value='Not Trading'>Not Trading</option>
          </select>
          <label for="newTradePrice" class="control-label">Trade Price:</label>
          <input type="text" class="form-inline" id="newTradePrice">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='submitNewItem'>Add Item</button>
      </div>
    </div>
  </div>
</div>
