<div class='col-md-12 profileBack' style="background:url('/img/background_pics/default.jpeg')">
  <div class='row profileHead'>
    <div class='col-md-10 col-md-offset-1 profileCont'>
      <div class='row'>
        <div class='col-md-3'>
          <a href='#'>
            <img src='/img/profile_pics/default.jpg' class='profilePic'>
          </a>
        </div>
        <div class='col-md-9'>

        </div>
      </div>
    </div>
  </div>
</div>
