<div class='col-md-12 profileHead' style="background:url('/img/background_pics/default.jpeg')">
  <div class='col-md-3 col-md-offset-1 profilePicCont'>
    <div class='row'>
      <div class='col-md-7'>
        <a href='#'>
          <img src='/img/profile_pics/default.jpg' class='profilePic'>
        </a>
      </div>
      <div class='col-md-5'>
        
    </div>
  </div>
</div>
