<div class='row'>
  <h2>Items</h2>
  <% include itemsView.ejs %>
</div>
<div class='row'>
  <h2>Collections</h2>
  <% include collectionsView.ejs %>
</div>
<div class='row'>
  <h2>Users</h2>
  <% include usersView.ejs %>
</div>
